<!DOCTYPE html>
<html lang="en">
<head>
    <style media = "screen">
      /* *{#.about{background-color: #17202A;}#} */
      .about{
        border:rgb(74, 74, 74); border-width:5px; border-style:solid;
      }
    </style>
    <meta charset="UTF-8">
    <title>About-us-movie</title>
</head>
<style>
      .whole-body{
          /* {#background-color: black;#} */
          background-image: url(https://images7.alphacoders.com/456/456555.jpg);
            background-size: cover;
      }
      .about {
          background-color: antiquewhite;
          opacity: 0.6;
      }

  </style>

  <body class="whole-body">

<style>
    .about{
        padding-left: 50px;
    }
</style>

<body style="background-color:#bebebe">
    <div class="about" >
    <h1>About us</h1>
    <p>We offer a range of training services</p>
    <ul>
      <li>Customized training for playing basketball,</li>
      <li>Training for origami design,</li>
      <li>Rent movies and TV-drama series <a href = "movies/">link</a>.</li>
      <!-- <li>Data Science Books <a href = "http://127.0.0.1:8000/books/">link</a>. </li> -->
    </ul>
    </div>
</body>
</html>