{% extends 'base.html' %}
{% block content %}
<h1> Movie in Singapore</h1>
<!-- <br>
<br> -->
<hr>
<div class="row">
{% for movie in movies %}
<div class="col">
    <div class="card" style="width: 14rem">
    <img src="{{ movie.poster_url }}" class="card-img-top" alt="no available"
    width="200"
    height="300">
        <div class="card-body" style="background-color:#1b1b1b">
        <p class="card-title" style = "color: white"> Name: {{ movie.name }}</p>
        <p class="card-text" style = "color: white"> Duration: {{ movie.duration }}</p>
        <p class="card-text" style = "color: white"> Grade: {{ movie.grade }}</p>
        <a href="{{ movie.url }}" class="btn btn-primary">Links</a>
        </div>
    </div>
</div>
{% endfor %}
</div>
<hr>
<a href = "http://127.0.0.1:8000/about-us">back to about us</a>
{% endblock %}