{% extends 'base.html' %}
{% block content %}
{#    <style>#}
{#        body {#}
{#            background-image: url(https://images.wallpapersden.com/image/download/artistic-blue-web_a21lbGqUmZqaraWkpJRobWllrWdma2U.jpg);#}
            {#background-size: 300px, 100px;#}
{#        }#}
{#    </style>#}
    <style>
    .col{
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .card-title, .card-text{
      margin-bottom: 1rem;
    }
    .card-text {
        font-size: 80%;
        font-family: "Book Antiqua", serif;
    }
    #title {
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: "Algerian", serif;
        color: antiquewhite;
    }
    .tile-content{
        font-family: "Arial Black", serif;
        font-weight: bold;
        color: coral;
    }
    .bottem-link{
        margin-bottom: 40px;
    }
    </style>
<h1 id="title"> Movie in Singapore</h1>
<!-- <br>
<br> -->
<hr>
<div class="row">
{% for movie in movies %}
<div class="col">
    <div class="card" style="width: 14rem; height: 32rem">
    <img src="{{ movie.poster_url }}" class="card-img-top" alt="no available"
    width="200"
    height="300">
        <div class="card-body" style="background-color:#1b1b1b">
            <p class="card-title" style = "color: white"> <p class="tile-content">{{ movie.name }}</p></p>
        <p class="card-text" style = "color: white"> Duration: {{ movie.duration }}</p>
        <p class="card-text" style = "color: white"> Grade: {{ movie.grade }}</p>
        <a href="{{ movie.url }}" class="btn btn-primary">Buy Tickets</a>
        </div>
    </div>
</div>
{% endfor %}
</div>
<div class="bottem-link"><a href = "http://127.0.0.1:8000/about-us">back to about us</a></div>
{% endblock %}